/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #f4f4f4;
}

/* Navigation Styles */
header {
    background-color: #093824;
    color: black;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover, nav a.active {
    color: #4db6ac;
}

/* Home Page Styles */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.profile-container {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding: 2rem;
    max-width: 800px;
    width: 100%;
}

.profile-image img {
    border-radius: 50%;
    max-width: 150px;
    margin-right: 2rem;
}

.profile-info h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Social Icons Styles */
.social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.social-link {
    display: inline-block;
    color: #1b3c6c;
    transition: all 0.3s ease;
    text-decoration: none;
}

.social-link img {
    width: 24px;
    height: 24px;
}

.social-link:hover img {
    fill: #4db6ac;
}

.about-container {
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.about-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

/* Footer Styles */
footer {
    background-color: #093824;
    color: black;
    text-align: center;
    padding: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        text-align: center;
    }

    .profile-image {
        margin-bottom: 1rem;
    }
}